body {
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin: 1%;   
}

button{
    cursor:pointer;
}
/*---------------------------------------------------------game page content----------------------------------------------------- */
#gamePage{
    min-width: 1200px;
    max-width: 900px;
    min-height: 600px;
    margin: 0 auto;
    border: 5px solid black;
    color: red;
    height: 880px;
    display: grid;
    height: 845px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows:  repeat(2, auto);
    gap: 50px;
}

#title,#instruction{
    font-family: "Tiny5", sans-serif;
    font-style: italic;
    background-image: linear-gradient( red, blue, green, yellow);
    background-clip: text;
    color: transparent;
    font-size: 80px;
}

#title{
    grid-column: 2;
}

#instruction{
    grid-column: 3;
}

#board{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;  
    min-width: 500px;
    align-items: center;
    border: 3px solid black;
    border-style: ridge;
    border-radius: 10px;
    background-size: cover;
}

#startButton{
    grid-column: 1;
    grid-row: 2;
    border-radius: 10%;
    position: relative;
    width: 100px;
    top: 30%;
    bottom: 26px;
    margin-bottom: auto;
    padding: 5px;
}

#startButton:hover{
    color: white;
}

#resultMessage{
    font-family: "Sedan", sans-serif;
    color: white;
    border-radius: 5px;
    border: 2px ridge black;
    font-size: 30px;
    padding: 9px;
    margin: 9px;
}

#playerChoices{
    border-top: 3px dashed black;
    display: flex;
    max-height: 45px;
    margin: 15px;
}

.code{
    border-radius: 50%;
	height: 40px;
	width: 40px;
    border: 3px solid black;
    margin: 5px;
}
 
.code:hover{
    border: 3px solid white;
}
.code:active{
    border: 3px solid black;
}

#c1{
    background-color: rgba(244, 0, 0, .2);
    /* animation: glowRed .5s ease-in-out forwards; */
}
#c1:active{
    box-shadow: 0px 0px 5px 5px red; 
}

#c2{
    background-color: blue;
}
#c2:active{
    box-shadow: 0px 0px 2px 2px blue;
}

#c3{
    background-color: green;
}
#c3:active{
    box-shadow: 0px 0px 2px 2px green;
}

#c4{
    background-color: yellow;
}
#c4:active{
    box-shadow: 0px 0px 2px 2px yellow;
}

#resetButton{
    background-size: cover;
    border-style:ridge;
    font-family: "Sedan", serif;
    font-weight: bold;
    font-size: 28px;
    text-shadow: -1px 1px rgb(255, 50, 50);
}

#resetButton{
    grid-column: 2;
    grid-row: 3;
    border-radius: 10%;
    position: relative;
    width: 100px;
    left: 30%;
    bottom: 26px;
    margin-bottom: auto;
    padding: 5px;
    visibility: hidden;
}

/*---------------------------------------------------------Animation content----------------------------------------------------- */

@keyframes glowRed {
    0% {
        box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red, 0 0 25px red;
      }
      100% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red;
      }
}

@keyframes glowGreen {
    0% {
        box-shadow: 0 0 5px green, 0 0 10px green, 0 0 15px green, 0 0 20px green, 0 0 25px green;
      }
      100% {
        box-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 50px green;
      }
}

@keyframes glowBlue {
    0% {
        box-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue, 0 0 20px blue, 0 0 25px blue;
      }
      100% {
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue;
      }
}

@keyframes glowYellow {
    0% {
        box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow, 0 0 25px yellow;
      }
      100% {
        box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow;
      }
}

@keyframes glow {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff;
    }
    100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
    }
  }

  .glowing-red {
    animation: glowRed .8s ease-in-out forwards;
  }

  .glowing-blue {
    animation: glowBlue .8s ease-in-out forwards;
  }

  .glowing-green {
    animation: glowGreen .8s ease-in-out forwards;
  }

  .glowing-yellow {
    animation: glowYellow .8s ease-in-out forwards;
  }